
@font-face{
    font-family: "Sansation_Bold";
    src: url("../Fonts/sansation/Sansation_Bold.ttf");

}
@font-face{
    font-family: "Sansation_Regular";
    src: url("../Fonts/sansation/Sansation_Regular.ttf");

}
@font-face{
    font-family: "Lato-Regular";
    src: url("../Fonts/Lato2OFL/Lato-Regular.ttf");

}
@font-face{
    font-family: "Sansation_Bold_Italic";
    src: url("../font/sansation/Sansation_Bold_Italic.ttf");

}
body{
    font-family: 'Montserrat', sans-serif;
}
img{
    width:100%;
}
.header{
    background-color: white;
    width:100%;
    height:110px;
    position: relative;
}
.headerCont{
    display: inline-block;
    padding:0 20px;
    border-right: 1px solid #adadad;
}
.headerCont:first-child{
    padding-left:0;
}

.headerCont:last-child{
    padding-right:0;
    border-right:none;
}


.headerimg{
    width:14px;
    height:14px;
    display: inline-block;
    margin-right:11px;
}
    .headerDesc{
        display: inline-block
    }
.headerDesc span{
    font-size:12px;
    color:#363636;
    display: inline-block;
    font-weight: 500;
}


.socialIcons a{
    border-radius: 5px;
color:#4b4b4b;
text-decoration: none;
display: inline-block;
list-style-type: none;
width:30px;
height: 30px;
background-color: #fafafa;
margin-right:3px;
line-height: 32px;
text-align: center;
font-size:15px;
transition: all 1s;
float: right;
}
.socialIcons a:first-child{
    margin-right:0
}

.upperheader{
    padding-top:20px;
    padding-bottom: 20px;
}
.socialIcons a:hover{
    background-color: #50cb8c;
    color:white;
    transition: all 1s;

}
.header-cont{
    padding-top:10px;
}
.blackNav{
width:1340px;
    top: 50%;
  margin: 0 auto;

  position: absolute;
  z-index: 555;
  left: 0.4%
    
}
.navbar{
    background-color: #1b1b26;
    border-radius: 0;
    padding:25px 0;
    z-index: 1;
    transform: 1s all;
    width:100%;

}
.blackNav .bg-dark{
    background-color: #1b1b26 !important;
}
.MobileMenu{
    display:none !important;
}
.logo{
    width:160px;
    height:60px;
    display: inline-block;
     transition-duration: 2s;

}
.logo:hover{
    transform: rotate(360deg);
}

.navbar .nav-link,.MobileMenu .nav-link{
    color:white;
    font-size:16px;
padding:10px 25px  !important;
  text-align: center;
  position: relative;
}
.home{
    padding-left:10px 15px !important;}

.navbar .nav-link:before{
    content: "";
position: absolute;
width: 0;
bottom: 3%;
left: 24%;
border:1px solid transparent;
transition: all .6s;
}
.navbar .nav-link:after{
    content: "";
position: absolute;
width: 0;
top: 3%;
right: 24%;
border:1px solid transparent;
transition: all .6s;
}
.navbar .nav-link:hover:before,.nav-link.activeLink:before{
    width:55%;
    transition: all .6s;
    border:1px solid #00bff3;
}

.navbar .nav-link:hover:after,.nav-link:hover:before,.nav-link.activeLink:before{
    width:55%;
    transition: all .6s;
    border:1px solid #00bff3;

}
.navbar .nav-link:hover{
background-color: transparent !important;
color:white !important;
}

.navBtn{
    background-color: #00bff3;
    font-size:14px;
        position: absolute;
    right: 50px;
    border:0;
}
.btn.navBtn{
    padding: 10px 20px !important;
}
.heroSec{
    width:100%;
color:white;
background-position: center; 
position: relative;
}
.heroCarusel{
    width:100%;
    position: relative;
}
.heroCarusel .owl-dots{
    position: absolute;
     bottom:10%;
     left:45%;
 }
.heroCarusel .owl-dots .owl-dot{
     width: 10px !important;
     height: 10px !important;
     border: 1px solid white;
     background-color: white;
     border-radius: 50%;
     margin-left:10px;
 
}
.heroCarusel .owl-dots .owl-dot.active{
background-color: transparent;
}
.innerheroSec{
    width:100%;
    height:250px;
    background-image:url("../img/inner.png");
    background-repeat: no-repeat;
background-size:cover;
position: relative;
color:white;
background-position: center; 
padding-top:140px
}
.heroCont{
    color:black;
    position: absolute;
    left:10%;
    top:20%;
    z-index: 55;

}
.heroCont h1{
    font-size: 36px;
    font-weight: bold;
    font-family: "Sansation_Bold";
    display:inline-block;


}
.herologo{
    width:50px;
    height:70px;
    margin-right:40px;
    float:left;
}
.scrollNav{
    top:0 !important;
    z-index: 555;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
    transition: .8s all;
    left:0;
}
.scrollNav.bg-dark{
    background: rgb(255, 255, 255) !important; 
}
.scrollNav.navbar{
    padding:10px 0;
}
.scrollNav .nav-link{
color:black;   
}    
.scrollNav .nav-link:hover{
    color:black !important;
}

.heroCont span{
    font-size:18px;
    display:block;
    margin-top:10px;
    font-family: "Lato-Regular";


}
.herobtn{
    margin-top:50px;
}
.herobtn a{
margin-right:15px;
border:0;
font-size:12px;
padding:15px 0;
font-family: "Sansation_Bold";
text-align: center;

}
.herobtn .learnMore{
    background-color:#50cb8c;
    width:170px;
}
.herobtn .learnMore:hover{
    background-color: #59bb89;
}
.herobtn .purchase{
    background-color: #00bff3;
    width:170px;
    
}
.herobtn .purchase:hover{
    background-color: #108daf !important;
    box-shadow: rgba(0,0,0,.3) 0 0 4px 2px;
}


.paddingSec{
    padding-top:115px;
}
.clinicServices{
    background-color: white;
    width:100%;
    height:auto;
    padding-bottom:80px;
}
.SectionTitle span{
    color:#00bff3;
    font-family: "Sansation_Regular";
    font-size:16px;
}
.SectionTitle h4{
    font-weight: bold;
    font-size: 34px;

}
.seprator{
    width:50px;
    height:16px;
    margin:0 auto;
    margin-top:25px;

}
.seprator .leftSep{
border-top-left-radius: 40%;
border-bottom-left-radius: 40%;
    width:50%;
    background-color: white;
    height: 100%;
    float: left;
    border:2px solid #cccccc;
    border-right:0;
}
.seprator .rightSep{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    width:50%;
    background-color: #cccccc;
    height: 100%;
    float:right;
    border:2px solid #cccccc;
}
.ServicCont{
    width:100%;
    margin-top:45px;
    transition: 1s all;
    padding: 0 5px;

}


.ServiceImg{
    width:45%;
    float:left;
    position: relative;
    height:177px;
}
.ServiceImg img{
    height:100%;
}
.ServicDesc{
    width:48%;
    float:right;
}
.ServicDesc h5{
    font-size:18px;
    font-family: "Sansation_Bold";
    color:#00bff3;
    margin-top:15px;
}
.ServicDesc p{
    font-size:15px;
    color:#666666;
    font-family: "Sansation_Regular";
max-height: 107px;
    margin-top:30px;
text-align: justify;
overflow: hidden;
margin-bottom:0}

.plus{
    position: absolute;
    padding:9px;
    border-radius: 50%;
    border: 1px  dashed white;
    top:33%;
    right:-16%;
}
.plus i{
    color:white;
    font-size:14px;
    padding:18px;
    background-color: #00bff3;
    border-radius: 50%;
}
.ServicCont.rightSide .ServicDesc{
    float:left;
}
.ServicCont.rightSide .ServiceImg{
    float:right;
}
.ServicCont.rightSide .plus{
    right:auto;
    left:-16%;


}
.AcceptedSec{
    padding-bottom:110px;
    padding-top:60px;
    background: #eee;
}
.viewList a{
        color:#878787;
}


.modal-body {
    background: #f9fafa;}
    h5.modal-title{
        color: #191b1f;
        font: 32px "open_sanslight", arial, sans-serif;
        padding: 10px;
    }
    .modal-header .close {
        margin: 10px 10px 0 0;
        background: #d7dfe2;
        color: #fff;
        display: inline-block;
        border: 0;
        width: 37px;
        height: 37px;
        opacity: 0.5;
        text-shadow: none;
        font-weight: normal;
        font-size: 24px;
        text-align: center !important;
        line-height: 7px;
        border-radius: 50%;
padding:0 !important;
    }
.viewList a{
    float:right;
    font-size:16px;
    font-family: "Sansation_Regular";
}
.AcceptedCont{
    padding:20px;
}
.AcceptedProviders{
    width:100%;
    margin-top:20px;
}
.provider{
    width:20%;
    text-align:center;
    padding:0 10px 0 10px;
    float:left;
    transition: all 1s;
    margin-bottom: 20px;
}

.provider-inner{
    background-color: white;
    padding:35px 10px;

}

.provider-inner:hover{
    box-shadow: rgba(0,0,0,.2) 0 0 2px 1px;
}
.ProvideImg{
    width:90px;
    height:100px;
    margin: 0 auto;

}
.ProviderList li{
    list-style-type: none;
    padding: 3px 0;
    font-size:16px;
}

.navbar-toggler{
    margin-left: 15px;
}
.provider h6{
    font-size:20px;
    font-weight: 500;
    margin-top:40px;
    display: block;
}
.lastProvider{
    margin-right:0;
}

.workingHours{
    padding: 75px 80px;
    background-color: #00bff3;
    color:white !important;
}

.Appoinment{
    padding: 100px 80px;
   
    background-color: #50cb8c;
    color:white;
}
.workingHours table td{
    padding:24px 

}
.workingHours table tr{
    border-bottom:1px dashed  white;

}
.workingHours table tr:last-child{
    border:0;
}
.calender{
color:rgba(0,0,0,.1);
width:100px;
float:right;
position: absolute;
right:50px;
top:100px;
}
.appointBook{
    margin-top:40px;

}
.bookAppointment{
    color:black !important;
    background-color:white;
    font-size: 14px;
    font-family: "Sansation_Bold";
    padding:10px 15px !important;
    border:0;

}
.bookAppointment:hover{
    background-color: #00bff3 !important;
    box-shadow: rgba(0,0,0,.3) 0 0 2px 1px;
}
.Appoinment .workHoursCont span{
    font-size:15px; 
}
.workingHoursSec{
    color:white;
}
.Appoinment .workHoursCont h6{
    font-family: "Sansation_Regular";
    font-size:15px; 
    margin-top:30px;
}
.workHoursCont{
    margin-bottom: 40px;
}
.workHoursCont h3{
    font-size:22px;
    font-family: "Sansation_Bold";

}
.whorkHoursCont span{
    font-size:15px;
    font-family: "Sansation_Regular";

}


.AppointBtn{
    background-color: white;
}
.DoctorsStuff{
    width:100%;
    padding-bottom:200px;
}
.DoctorBox{
    transition: all 1s;

}

.doctorImg{
    width:100%;
    height:70%;
    position: relative;
}
.doctorImg .share{
    position: absolute;
    right:30px;
    top:30px;
}
.share li {
    list-style-type: none;
    font-size:16px;
    background-color:white;
    border-radius: 50%;
    text-align: center;
    width:45px;
    height:45px;
    line-height: 45px;
    margin-top:5px;
}
.share i{
    color:black;

}

.share li:hover {
    background-color: #00bff3;
}
.share a:hover{
    text-decoration: none;
}
.doctorDesc{
    margin-top:25px;
}
.share li:hover ~ .share i{
    color:white;
}
.shareItem{
    display:none;
    transition-duration: 1;

}
.shareItemDisplay:hover .shareItem{
    display:block;
 
}
.doctorDesc h4{
    font-weight: 700;
    font-size: 17px;
    color:#444444;

}

.doctorDesc h4 span{
    color:#00bff3;
}
.Specialist{
    font-size:15px;
    color:#555555;
    font-family: "Sansation_Regular";
}
.phoneNum{
    margin-top:25px;
}
.phoneNum{
    font-size:15px;
    font-family: "Sansation_Regular";

}
.DoctorSlider{
    width:100%;
    text-align: left;
    margin-top:40px;
    padding:10px;
}
.DoctorSlider .owl-nav {
    
    display:block !important;
    position: absolute;
    bottom: 50%;
    left: -42px;
   
}
.DoctorSlider .owl-nav  .owl-next{
right:-42px !important;
}
.DoctorSlider .owl-stage-outer{
padding:10px 5px;    
}

.DoctorSlider .owl-nav button{
    background-color: transparent;
    border: 0;
    width:28px;
    height:28px;
 
    margin-right:5px;
    background-color: #00bff3 !important;
    border-radius: 50%;

}
.DoctorSlider .owl-nav button span{
    font-size: 30px;
    text-align: center;
    line-height: 22px;
    color:white;
}
.DoctorSlider .owl-nav button:hover{
    background-color: black !important;
}
.makeAppoint{
    background-color: #04baeb;
    padding-bottom:115px;
}
.makeAppoint .SectionTitle span,.makeAppoint .SectionTitle h4{
    color:white;
}
.makeAppoint .SectionTitle h4{
font-size:28px;
}
.formAppoint form{
    margin-top:40px;
}
.formAppoint .formControl{
    width:100%;
    border:1px solid #b4eaf9;
    background-color:transparent;
    margin-top:10px;
    border-radius: 5px;
    height:45px;
}

.formAppoint .formControl::placeholder{
    color:white;
    padding:20px 25px;
    font-size:14px;
    font-family: "Sansation_Regular";
}
.formAppoint .formControl.phoneEmail{
    width: 48%;
    margin-right: 17px;
}
.formControl.phoneEmail.lastinput{
    margin-right: 0;
}

.appDate {
    background:transparent;
    background:#fff url("../img/date.png")  97% 50% no-repeat ;
  }
  
  
  /* custom styles */
select.Gender{
    -moz-appearance: window;
    -webkit-appearance: none;

        background:#fff url("../img/arrow.png")  97% 50% no-repeat ;
    
            color: white !important;
            padding-left:20px;
    
 
}
.Gender option:not(:first-of-type) {
    color: black;
  }
  .workingHours ul{
      padding:0;
      margin:0;
  }
.workingHours ul li{
    list-style-type:none;
font-size:13px;
margin-bottom: 36px;
}
  
  @-moz-document url-prefix() {
    .wrapper {
         background: #f5f5f5 url("/images/arrow_down.png") right center no-repeat;
         padding-right: 20px;
      }
    }
    textarea.formControl{
        color:white;
        padding-left:20px;
        padding-top:20px;
        resize: none;
        height:125px !important;
       
    }
    .appointsendBtn{
        font-family: "Sansation_Bold";
        margin-top:30px;

        background-color:black;
        color:white;
        font-size:12px;
        padding:17px 40px !important;
    }
    .makeAppoint .container{
        position: relative;
    }

    .OurGalleryDiv{
        height: 500px;
    }
    .OurGallery{
        position: absolute;
        width:90%;
        right:0;
        top:0;
        z-index: 0;
    }
    .GalleryImg{
        width:25%;
        float:left;
        margin:20px;
        height:147px;
        transition: 1s all;

    }
    .GalleryImg:hover{
        transform: scale(1.1);
        transition: 1s all;
    }
    .galleryText:hover{
        transform: none
    }
     .galleryText{
background-color: white;
text-align: center;
position: relative;
    }
    .galleryText h4{
        font-weight: bold;
        font-size:30px;
        line-height: 50px;

    }
     .OurGallery::before{
    
         content: "";
         position: absolute;
         width: 75%;
         height: 75%;
         background-color: white;
         z-index: -1;
         left: 10%;
         top: 10%;
     }
     .commentTitle{
         padding:20px 0;
     }
     .commentTitle h3{
         font-weight: bold;
         color: #3d3d3d;
         font-family: "Sansation_Regular";
     }
     .blog-comments .media-left{
         padding-right:10px;
     }
     .blog-comments .media-left .media-object{
width:100px;
height: 90px;
     }
     .media-body i{
         color:#50cb8c;
     }
     .media-body .CommentNamr{
         color:#00bff3;
     }
     .blogmargin{
        margin-bottom:50px;
    }
    .title{
        color:#00bff3;
        font-size:20px;
        font-family: "Montserrat-Bold"
    }
    .media{
        border-bottom:1px dotted #979797;
        padding:20px 0;
    }
    .media:last-child{
        border-bottom:0
    }
    .media img{
        width:60px;
        border-radius: 4px;
        height: 60px;
        object-fit: cover
    }
    .media-body h5{
        color:#444444;
        font-family: "Sansation_Bold";
        font-size: 15px;
    }
    .media-body span{
        color:#0085d3;
        font-size:13px;
        font-family: "Sansation_Regular"
    }
    ul.flex-column a{
        color:#444444;
        font-family: "Sansation_Regular";
        font-size: 13px;
    }
    ul.flex-column a i{
        padding-right:15px;
        font-size: 9px;
    }
    .flex-column .nav-link .line{
        background: #e8e8e8;
        width:100%;
        margin:9px;
        height:2px;
        flex:5
    }
    .innerheroCont h1{
        font-size:32px;
        font-weight: bold;
        position: relative;
        display:inline-block;
    
    }
    
    .innerheroCont h1:after{
content: "";
width:40px;
position: absolute;
border:2px solid white; 
bottom: 8px;
left: 105%;   }
.innerheroCont span {
    margin-left:50px;
}
.innerheroCont span a{
    font-size:12px;
    color:white;

}
.innerheroCont span a:hover{
    text-decoration: none;
    color:#00bff3;
}
    .BlogSec{
        padding-bottom:65px;
    }
    #Blogs{
        padding-bottom:110px;

    }
    
    #Blogs .col-md-6{
        margin-bottom: 70px;
    }
    .postedBy h4{
        font-family: "Sansation_Regular";
        font-size: 14px;
        color:#888888
    }
    .postedBy span{
        color: #00bff3;
        font-family: "Sansation_Regular";
    }
    span.number{
        font-size: 12px;
    }
    .card-title{
        color:#444444;
        font-size: 17px;
        font-family: "Sansation_Bold";
        text-transform: uppercase
    }
    .card{
        border:0;
        transition: all 1s;
    }

    .card-body{
        padding:0;
        padding-top:30px;
    }
    .card-text{
        color:#666666;
        font-family: "Sansation_Regular";
        font-size: 14px;
    }
    .card-img-top{
        border-radius: 4px;
    }
    .card-top{
        position: relative;
    }
    .card-top img{
        height:40%;
    }
    .card-top span{
        background:#00bff3;
        padding:10px 15px;
        font-family: "Sansation_Regular";
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        bottom:20px;
        right:20px;
        border-radius: 2px;
    }
    .card-top:after{
        content:'';
        position: absolute;
        bottom:0;
        right:50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent #ffffff transparent;
    
    }
    .blogsRow{
        margin-top:50px;
    }
    .blogsRow .card{
text-align: left;
    }
    .ViewPost{
        background-color: #00bff3;
        margin:0 auto;
        margin-top:70px;
        padding:16px 17px !important;
        border:0;
    }
    .GuestSec{
        background-color: #f7f7f7;
        padding-bottom:102px;
    }
    .GuestImg{
        width:80px;
        height:80px;
        border-radius: 50%;
        margin:0 auto;
        margin-bottom:33px;

    }.GuestCarusel{
        margin-top:65px;
        position: relative;
    }
    .gusetComment{
        font-size: 16px;
    font-weight: 500;
        }
        .GuestItem .userNAme{
            color:#00bff3;
            display: block;
            margin-top:31px;
            font-weight: 900;
            font-size:16px;
            
        }
        .social{
color:#c5c5c5;
font-size:13px;
        }
        .GuestCarusel .owl-stage-outer{
            position: relative;
        }
        .GuestCarusel .owl-nav{ 
            display:block !important;
            position: absolute;
            top:42%;
            width:100% !important;
            height:auto !important;
          
        }

        .GuestSec .owl-nav button{
            background-color:transparent;
            position: absolute !important ;
            border:0;
            padding:15px 17px;
            color:white;
            background-color: #00bff3;
            border-radius: 50%;
            font-size:14px;
            text-align: center;

        }
        .GuestSec .owl-nav button:hover{
            background-color:black;
            color:white;
            box-shadow:rgba(0,0,0,.3) 0 0 6px 1px;
        }
        .GuestSec .owl-nav button i{
            padding:9px !important;

        }
        .GuestSec  .owl-carousel .owl-nav .owl-prev{
            left: -60px !important;
        }
        .GuestSec .owl-nav .owl-next{
            right: -60px !important;
        }
        .contactSec{
            background-color:#1a1a1a;
            padding-top:80px;
        }
        .contactSec h4{
            text-transform:uppercase;
            font-weight: bold;
            text-align: left;
   color:white;
            font-size:25px;
        }
        .contactSec span{
            font-size:15px;
            color:white;
        font-family: "Sansation_Regular";
        }
        .help{
            padding-left:50px;
        }
#map{
    margin-top:75px;
    height:420px;
    width:100%;
}
.footer{
    background-color: #19191e;
}
.footer.paddingSec{
    padding-top:105px
}
.footerLogo{
    width:200px;
    margin-bottom:35px;
}
.footer{
    color:white;
    padding-bottom:120px;
}
.footer span{
    font-size:14px;
    font-family: "Sansation_Regular";
    display: block;

}
.footerTitle{
    font-weight:700;
    font-size:20px;
    margin-bottom:35px;
}
.footerTitle.first{
    margin-bottom:20px;
}
.footer .socialIcons{
    float: left;
    margin-top:50px;
}
.footer .socialIcons a{
color:white;

background-color: #383838;
line-height: 33px;

}
.footer .socialIcons a:hover{
    background-color: #00bff3;
}
.doctoName{
    width:100%;
    border-bottom:1px  white dashed ;
    padding: 21px 0;
}
.doctoName span{
    display: inline-block
}
.footerDrImg{
    width:57px;
}
.footerDrImg img{
    border-radius: 50%;
}
    .doctoName .doctorDesc{
        color:white;
            margin:0;
            margin-left:20px;
       
    }
    .doctoName .doctorDesc h4{
        font-size:15px;
        color:white;
    }
    .footer span{
        font-size:14px;
color:white;
    }
    .doctoName:first-child{
        padding-top:0;
    }

    .doctoName:last-child{
        border-bottom:0;
    }
    .tel{
        margin-bottom:15px;
    }
    .tel,.emailsub{
        font-size:18px;
    }
    .tel i,.emailsub i{
        margin-right:10px
    }
    .subtitle{
        font-size:16px;
        margin-top:30px;
    }
    .footerinput{
    border:0;
width:100%;
height:55px}
.footerinput::placeholder{
    padding-left:20px;
    font-size: 12px;
    color:#e3e3e3;
}
.sendmail{
    position: absolute;
    background-color:#00bff3;
    height:55px;
    right:0;
    line-height: 55px;
    top:0;
    text-align: center;
    width:20%;
}
.inputemail{
    margin-top:20px;
    position: relative;   
    height:55px;
    width:100%;
    margin-bottom:40px;

}
.sendmail i{
    color:white;
}
.copy-right{
    background-color: #131313;
    padding:32px;
    text-align: center;
}
.coptText{
    color:white;
    font-size:13px;   
     font-family: "Sansation_Regular";


}
.contactForm{
    text-align: center;
    width:100%;
    margin-top:111px

}
.contactForm form{
    margin-top:55px;
    margin-bottom:40px;

}
.contactForm textarea{
    width:100%;
    resize:none;
}
.sendComment{
    color:white;
    background-color: #00bff3;
    border:0;
    text-align: center;
    padding:15px 35px !important;
}
.contactForm .formControl{
    background-color: #fbfbfb;
    border:0;
    padding:15px;
}
.contactForm .formControl::placeholder{
    padding-left:30px;
    font-size:14px;
    color:#c5c5c5;
    font-family: "Sansation_Regular";


}
.contactForm .formControl.contactformControl{
    width:33%;

}
.googlemap{
    padding-bottom:120px;
}
.underSection{
    margin-top:35px;
    color:#00bff3;
    position: relative;
}
.underSection i{
    width: fit-content;
    font-size:14px;
    padding:0 13px;
    background-color: white;
}

.underSection hr{
    width:150px;
    position: absolute;
    border:1px solid #00bff3;
    left: 42%;
    z-index: -1;
    top: -22%;
}
#map{
    padding-bottom: 70px;
}
.contactDetails{
    border:18px solid #00bff3;
    padding:55px 60px;
    margin-top:68px;
}
.details{
    border-radius: 5px;
    border:1px solid white;
}
.details .headerDesc i{
    color:#00bff3;
    font-size: 30px;
    margin-right: 20px;
    display: inline-block
}
.details .headerDesc{
    margin-left:100px;
display: inline-block}
.details .headerDesc:first-child{
    margin-left:0;
}
.details .headerDesc h6{
    font-size:15px;
    font-weight: bold;
}
.blog-social{
    width:97%;
}
.singleBlog .social a{
    color:#444444;
    font-size: 12px;
    padding:10px;
}
.singleBlog .d-flex .icon{
    background:#00bff3;
    color:white;
    width:50px;
    height:50px;
    border-radius: 100%;
    position: absolute;
    left:-33px;
    top:-5px;
}
.text{
    font-size: 13px;
    color:#444;
    font-family: "Sansation_Italic";

}
.singleBlog .card-top:after{
    display: none
}


.singleBlog .card-top img{
    height: 400px;
    object-fit: cover
}
.singleBlog span.badge-primary{
    background: #0085d3
}

.singleBlog .card-title{
    font-family: "Montserrat-Bold";
    font-size: 22px;
}
.singleBlog .number{
    padding-left: 20px;
}
.singleBlog .card-text{
    text-align: justify;
    line-height: 2;
    font-size: 13px;
}

.title-inside{
    font-size: 20px;
    color:#3d3d3d;
    font-family: "Sansation_Regular";
}
.note{
    background:#00bff3;
    padding:40px 20px;
    text-align: center;
    margin-top:100px;
    margin-bottom:60px;
    border-radius: 5px;
    position: relative;
}
.note p{
    color:white;
    font-family: "Sansation_Bold_Italic";
    font-size: 16px;
    width: 75%;
    padding:20px 0;
    margin: auto;
}
.note .top{
    color:white;
    
    border:2px dashed white;
    width:90px;
    height: 90px;
    text-align: center;
    font-size:20px;
    border-radius: 100%;
    margin: -86px auto 0;
}
.top i{
    padding: 20px 0 0;
    background: #00bff3;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: block;
    margin: 14px auto
}


.contactForm{
    width:100%;
    margin-top:111px

}
.singleBlog .contactForm form{
    margin-top:25px;
    margin-bottom:40px;

}
.singleBlog .sendComment{
    color:white;
    background-color: #0085d3;
    border:0;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Sansation_Bold";
    padding:15px 35px !important;
}

.helpbtn{
    background-color: #00bff3 !important
}
@media (max-width: 768px){
    .DoctorDetails{
        margin-top:50px;
    }
.Appoinment{
    padding: 10px;
}
.provider {
    width: 33.33333%;
    }
.ServiceImg{
        width: 100%;
}
.ServicDesc{
    width: 100%;
}

.plus,.ServicCont.rightSide .plus{
    top: auto;
    bottom: -33px;
    left: 40%;
    right: auto;
}

.logoDiv{
        position: absolute;
    left: 103px;
    top: 13px;
    width: 150px;
}

.navbar {
    position: relative;
    padding:13px 0;
}

.navBtn {
    top: 10px;
}
.socialIcons a:first-child{
    margin-right: 5px;
}
.socialIcons a{
    margin-right: 5px;
    margin-bottom: 5px;
}

.headerCont{
    display:block;
    padding:0;
    border-right:none;
}

.workingHours {
    padding: 10px;
}
.workingHours ul li{
    font-size:12px;
}

}

@media (min-width: 320px) and (max-width: 767px){
    .blackNav{
        width:100%;
    }
    .activeLink::before{
display: none;
    }
    .activeLink{
        background-color: #00bff3;;
            }
          
    .MobileMenu{
        left:0;
        padding-top:50px;
        margin-top: 0 !important;
display:block !important;
position: absolute;
text-align: left !important;
left:-1000px;
background-color: #1b1b26;
top:0 !important;
z-index: 5555;
transition: all .2s !important;
    }
    .MobileMenu  .nav-link{
        text-align: left !important;
    }
    .MobileMenu .close{
        border: 0;
        width: 37px;
        height: 37px;
        opacity: 1;
        text-shadow: none;
        font-weight: normal;
        font-size: 30px;
        text-align: center !important;
        line-height: 7px;
        border-radius: 50%;
padding:0 !important;
position: absolute;
top:20px;
right:20px;
    }
    .MobileMenu .close span{
        color:#00bff3;

    }
   
    .scrollNav .collapse.navbar-collapse{
        background-color: white !important;
    }
    .nav-link::after{
        display: none;
    }
    .nav-item:hover{
        background-color: #00bff3;
    }
    .herobtn{
        text-align: center;
    }
    .herobtn .learnMore{
        width:110px !important;
        text-align: center
    }
  
    .herobtn .purchase{
        width:110px !important;
        text-align: center;
        
    }
    .herobtn .purchasea a,.herobtn .purchase a{
        font-size: 10px;
    }
    .DoctorSlider .owl-nav{
bottom:-8%;
left:40%;
    }


    .heroCont h1{
        font-size:20px;
    }
    .heroSec{
        padding-top:50px;
    }

    .heroCont .herologo{
        width:20px;
        margin-right:2px;
    }

    .provider {
        width:33.333%;
    }
    .SectionTitle  h4{
        font-size: 27px; 
    }
    .provider-inner {
        padding:7px;
    }
    .ProvideImg{
        width:35px;
        height:auto;
    }
   
        
.provider-inner h6 {
    font-size: 10px;
    font-weight: 500;
    margin-top: 13px;
    }


.ServicDesc p{
    margin-top:10px;
}
.ServicDesc h5{
    margin-top:30px;
}
.formAppoint .formControl.phoneEmail{
    width:46%;
}
.DoctorsStuff {
    padding-bottom:95px;
}
.formControl::placeholder{
    font-size:11px !important;
}
.GalleryImg{
    width:100%;
}
.GuestSec .owl-nav{
    display: none !important;
}
.navbar-toggler{
    border:0 !important;
}
.navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,191,243)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  .upperheader{
      display: none;
  }
.header{
    height:auto !important;
}
  .ServicCont.rightSide .ServicDesc{
      margin-top:20px;
  }
  .ServicDesc p{
      max-height: 135px;
  }
  .paddingSec{
      padding-top:30px;
  }
  .clinicServices{
padding-bottom:35px;
  }
  .AcceptedSec{

      padding-bottom: 0
  }
  .workingHours,.Appoinment{
      padding-top:30px;
  }
  .help{
      padding-left:0;
  }
  .contactSec h4{
      font-size:18px;
  }
  .contactSec span{
      font-size:13px;
  }
  .footer h4{
      margin-top:30px;
  }
  .footer .socialIcons{
      margin-top:20px;
  }
  .doctoName h4{
      margin:0;
  }

  .helpbtn{
      margin-top:20px;
      float:none !important;
      background-color: #00bff3 !important;
  }
  .underSection hr{
      left:29%;
  }
  .contactDetails{
      padding:20px;
  }
  .details .headerDesc{
      margin-left:0;
      margin-top:20px;
  }
  .contactForm .formControl.contactformControl{
      width:100%;
      margin-top:20px;
  }
  .innerheroSec{
      height:170px;
      padding-top:70px;
  }
}

@media(max-width:575.5px){
  

    .blog-social{
        width:92%;
    }
    .header{
            height: 150px;
    }
.socialIcons{
margin-top: 15px;
}
    .socialIcons a{
float: left;
    }
  
}
@media(max-width:400px){
    .singleBlog .social a{
        padding:2px;
    }
    .text{
        font-size: 10px;
    }

    .headerDesc span.new-line{
        margin-left: 30px;
    }
     .header{
            height: 170px;
    }
    .logoDiv{
        display: none;
    }

    .header {
    height: 190px;
}

.navBtn{
        right: 19px;
}

#navbarSupportedContent{
    margin-top: 50px;
}

.nav-item {
    width: 100%;
}
}